* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Serif', serif;
  background-color: lavender;
}

body {
  width: 100vw;
  height: 100vh;
}

.workouts-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.workout-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 45%;
  height: 50%;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: black;
}