* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
}

body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: lavender;
}

header {
  display: flex;
  justify-content: right;
  height: 2.25em;
}

header a {
  margin: 10px;
  color: black;
}

.app-title {
  font-size: 54px;
}

h1.workout-routines-heading {
  font-size: 45px;
}

.form-wrapper {
  position: fixed; 
  z-index: 1; 
  top: 0%;
  left: 0%;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: lavender;
  display: block;
  margin: auto;
}

.close-modal {
  top: -20px;
  right: -300px;
  position: relative;
  background: transparent;
  border: 0;
  color: black;
}

.form-container {
  padding: 15px;
  border: 2px solid #172601;
  border-radius: 15px;
  margin: auto;
  margin-top: 200px;
  display: block;
  max-width: 50%;
  max-height: 100%;
  padding: 20px;
}

.create-workout-form {
  display: grid;
}

.create-workout-form input[type="submit"] {
  margin-top: 5px;
}

.form-field {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 5px;
}
.form-field label {
  text-align: end;
  margin-right: 5px;
}
.form-field input, .form-field textarea {
  width: 300px;
  height: 22px;
  border-radius: 5px;
  text-align: center;
  font-style: italic;
}

button, input[type="submit"] {
  border-radius: 7px;
  border: none;
  padding: 10px;
  color: white;
  background-color: #baabc9;
  cursor: pointer;
}

.workouts-wrapper, .exercise-cards-container, .equipment-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 2%;
  padding-bottom: 50px;
}

.workout-card, .exercise-card, .equipment-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 2.5em #baabc9;
}

.workout-card:hover {
  transform: scale(1.02);
  background-color: #baabc9;
}

img {
  width: 45%;
  height: 50%;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: black;
}

.exercise-btns-container {
  margin: 3%;
}
.update-exercise-btn {
  margin-right: 3px;
}

.update-exercise-btn:disabled {
  color: #d8d2cb;
  background-color: #777777;
  cursor: default;
}

.delete-exercise-btn {
  margin-left: 3px;
}


@media only screen and (max-width: 375px) {
 /* Create Workout Routine Form */
 .form-container {
   max-width: 95%;
 }

 .close-modal {
  top: -20px;
  right: -150px;
}
  .workouts-wrapper, .exercise-cards-container, .equipment-cards-container {
    display: flex;
    flex-direction: column; 
  }

  .form-field {
    display: grid;
    grid-template-columns: 30% 70%;
    max-width: 100%;
  }

  .form-field label {
    font-size: 13px;
  }

  .form-field input, .form-field textarea {
    max-width: 85%;
  }

  .button-wrapper {
    margin-right: 70px;
  }
}

/* About Page */
.instructions-intro-paragraph {
  margin: 20px 0;
}

.subheader {
  font-size: 20px;
  font-style: italic;
}

.yoga-image {
  margin-top: 3%;
  width: 30%;
  border-radius: 8px;
}

ul.instructions {
  line-height: 1.5;
}

.footer-design {
  overflow: hidden;
  position: fixed; 
  bottom: 0; 
  width: 100%; 
}

.dance-container {
  transform: translateY(5px);
}

.ground-hr {
  width: 100%;
  height: 15px;
  margin: 0;
  background-color: #baabc9;
  border: none;
}

.ballerinaOne {
  width: 70px; 
  position: relative;
  animation: danceOne 5s infinite;
}

@keyframes danceOne {
  0%   {transform: rotate(-100deg);}
  25%  {transform: rotate(-95deg) !important;}
  50%  {transform: rotate(35deg);}
  75%  {transform: rotate(50deg) !important;}
  100% {transform: rotate(-100deg);}
}