* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
}

body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: lavender;
}

header {
  display: flex;
  justify-content: right;
  height: 2.25em;
}

header a {
  margin: 10px;
  color: black;
}

.app-title {
  /* font-family: 'Indie Flower', cursive; */
  font-size: 54px;
}

h1.workout-routines-heading {
  margin-bottom: 10px;
  font-family: 'Indie Flower', cursive;
  font-size: 6vw;
}

.form-container {
  padding: 20px;
  border-radius: 15px;
  margin: auto;
  max-width: 90%;
  max-height: 100%;
  padding: 20px;
}

.create-workout-form {
  display: grid;
}

.form-field {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5px;
}
.form-field label {
  text-align: end;
  margin-right: 5px;
}
.form-field input {
  width: 300px;
  border-radius: 5px;
  text-align: center;
  font-style: italic;
}

button, input[type="submit"] {
  border-radius: 7px;
  border: none;
  padding: 10px;
  color: white;
  background-color: #baabc9;
  cursor: pointer;
}

.workouts-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 5%;
  padding-bottom: 50px;
}

.workout-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 2.5em #baabc9;
}

.workout-card:hover {
  transform: scale(1.02);
  background-color: #baabc9;
}

img {
  width: 45%;
  height: 50%;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Indie Flower', cursive;
}


@media only screen and (max-width: 375px) { 
  .form-field {
    max-width: 100%;
  }

  .form-field label {
    font-size: 13px;
  }
  .form-field input {
    max-width: 70%;
  }
  .button-wrapper {
    margin-right: 70px;
  }
}